*
{
    padding: 0px;
    margin: 0px;
}

.Basic {
    background-color: aquamarine;
    padding: 25px;
    margin: 25px;
    border: 5px solid rgb(0, 0, 0);
    box-shadow: 5px 5px 10px blue;
}
.top{
    text-align: center;
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(0, 0, 0);
    margin-bottom: 15px;
}
.tui {
    border-radius: 20px;
}
#speacial {
    color: red;
}

.flower{
margin: 17px;
padding: 10px;
background-color: aqua;
border: 2px solid tomato;
font-family: 'Times New Roman', Times, serif;
}

.second{
font-size: 20px;
color: tomato;
text-align: center;
}

.village{
    height: 800px;
    background-image: url("images/village.jpg");
    background-size: cover;

}

.Alhamdulillah{
    background-color: tomato;
    margin: 25px;
    padding: 35px;
}
.git{
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
    border: 2px solid;
    border-radius: 15px;
    padding: 10px;
    text-align: center;
}